.navbar {
    display: flex;
    justify-content: center !important;
    font-weight: bold;
    background-color:rgb(65, 48, 77);
    color:white;
    line-height:2.5 !important;
    border-top: 0.5em solid rgb(70, 64, 64);
    border-bottom: 0.5em solid rgb(99, 90, 90);
}


.navbarBrand {
    flex:1;
    display: flex;
    justify-content: center;
    font-size: x-large;
   
}   

.profileContent{
    margin-right: 3%;
    font-size: large;
}